<h3 class="heading">Hello {{user?.name}}!! Here is your health details</h3>
<input type="datetime-local" />
    <div class="row" *ngFor="let us of user?.userHealthTracker">
        <h4>Health Tracker for {{us.trackingDate}}</h4>
        <div class="col-sm-6">
            <div class="panel panel-success">
                <h5 class="panel-heading">Blood Pressure</h5>
                <p class="panel-body">{{us.bloodPressureRate}}</p>
                <div class="panel-footer">Good Condition</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-success">
                <h5 class="panel-heading">Blood Sugar</h5>
                <p class="panel-body">{{us.bloodSugarRate}}</p>
                <div class="panel-footer">Good Condition</div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="panel panel-success">
                <h5 class="panel-heading">Heart Rate</h5>
                <p class="panel-body">{{us.heartBeatRate}}</p>
                <div class="panel-footer">Good Condition</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-success">
                <h5 class="panel-heading">Criatine Level</h5>
                <p class="panel-body">{{us.creatineLevel}}</p>
                <div class="panel-footer">Good Condition</div>
            </div>
        </div>
    </div>
